div	{
	border: 0px solid black;
	padding-top: 30px; 
}
nav	ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
nav li{
	display: inline-block;
	width: 100px;
	height: 40px;
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Dancing Script', cursive;
	font-size: 23px;
}
.Nav-left {
	width: 50%;
	padding-left: 40px;
	float: left;
}
.Nav {
	text-align: right;
	width: 25%;
	float: right;
	padding-right: 50px;
}
body {
margin: 0PX;
background-image: url("../images/homepage.jpg");
background-repeat: no-repeat;
background-size: 1440px 763px;
}
#Logo {
	width: 30px;
	height: 30px;
}
#Mamie {
	width: 650px;
	height: 455px;
}
.Milieu	{
	width: 700px;
	margin: auto;
	margin-top: 100px;
}
.cards {
	display: flex;
}

.card {
	padding: 10px;
	margin: 20px;
	padding-left: 150px; 
	padding-right: 180px;
	font-family: 'Overlock', cursive;
	font-size: 15px;
	letter-spacing: 1.2px;
	font-weight: bold;
}

img {
	height:170px;
	width:150px;
	box-shadow: 0px 0px 0px; 
}

.titre {
	padding-left: 150px;
	margin: 20px; 
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}

.cardmarianne {
	height:450px;
	width:450px;
}
.page {
	height: 730px;
}
#page2 {
	background-image: url("../images/home page 3.jpg");
	height: 900px;

}
a:hover{
	opacity: 0.5;
}